.navbar {
  background-color: red;
  display: flex;
  justify-content: center;
}

nav {
  width: 500px;
  display: flex;
  justify-content: center;
}

.heading-link {
  text-decoration: none;
}

.App {
  height: 100%;
}

.app-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table {
  border: black solid 1px;
  border-radius: 5px;
}

tr,
th {
  background-color: rgb(201, 66, 66);
}

.song {
  border: rgb(201, 66, 66) solid 1px;
  border-radius: 5px;
  background-color: rgb(201, 66, 66);
  padding: 10px;
}

.song-header {
  display: flex;
  justify-content: space-evenly;
  width: 470px;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.new-page {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-form {
  display: flex;
  flex-direction: column;
}

.edit-page {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-form {
  display: flex;
  flex-direction: column;
}
