.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    /* border-radius: 12px; */
    background-color: #d9e9e7f0;
    color: rgb(37, 5, 5);
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-weight: 450;
}

button {
  width: 5.5rem;
  height: 2rem;
  background-color: rgb(77, 92, 77);
  color: white; 
}


/* table {
  width: 60%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #32ada9;
} */