.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #d9e9e7f0;
  color: rgb(37, 5, 5);
  font-size: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  font-weight: 200;
  width: 80vh;
  margin-top: 7rem;
}

button {
  width: 5.5rem;
  height: 2rem;
  background-color: rgb(77, 92, 77);
  color: white;
}

td {
  font-size: 1.2rem;
  font-weight: 350;
  color: rgba(1, 39, 47, 0.997);
}

