.UI {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background: #66A3A3;
    padding: 1em;
    box-shadow: 2px 2px 4px 1px #0000ff;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    /* align-items: right; */
  }
/* 
  .NewButton {
    font-size: 17px;
    margin: 1em;
  } */
