.tunerHeader {
  text-align: center;
  color: white;

  .tunerHomepage {
    text-decoration: none;

    animation: tunerHomepageAnimation 10s ease-in-out infinite;
    @keyframes tunerHomepageAnimation {
      0% {
        color: white;
      }
      25% {
        color: red;
      }
      50% {
        color: blue;
      }
      100% {
        color: white;
      }
    }
  }
}
