.songlist {
  display: grid;
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  height: 3rem;
  /* border-bottom: 0.2rem solid grey; */
  width: 80%;
  
}

.song-artist {
  padding-top: 1rem;
}

main {
  width: 90%;
  margin: auto;
}

table {
  width: 80%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #3e5e6740;
}