body {
  /* margin: 0; */
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

fieldset {
  color: #0000ff ;
  margin: 10px;
  border-top-right-radius: 1px;
  padding: 10px;
  padding-bottom: 20px;
  background-color: #66A3A3;
}
/* display: inline-block; */

h1 {
  text-align: center;
}

h3 {
  color: #0000ff;
  box-shadow: 1px 1px 10px 1px #0033cc;
  text-align: center;
}

h2 {
    display: inline-block;
    padding-right: 10px;
    
}

/* * {
  margin: 0;
  padding: 0;
} */

button {
  background-color: #0033cc;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 1px 10px 1px white; 
  
}

/* button {
border: none; 
color: white;
} */
/* legend {
  font-size: 20px;
  box-shadow: 1px 1px 10px 1px #66A3A3;
  text-align: center;
} */

p {
  font-size: 20px;
  box-shadow: 1px 1px 10px 1px #66A3A3;
  text-align: center;
}
/* 
form {
  color: #ff00ff;         

} */

label {
  padding-right: 15px;
}

input {
  
}

