.Show {
    display: flex;
    flex-direction: column;
}
.Show h1 {
    text-align: center;
}

.SongDetails {
    background-color: rgb(122, 18, 100);
    color: white;
    border: 1px solid black;
    padding: 30px;
    border-radius: 10px;
}
.SongDetails img {
    color: white;
}
.Album {
    font-weight: bold;
}
.SongDetails h1 {
    text-align: center;
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
p {
    font-size: 2em;
}